@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5me;
    background-color: #f8e9e9;
}
header{
    background-color: #2E5266;
    padding: 10px;
    margin-bottom: 5px;
}
#menu ul{
    list-style: none;
    display: flex;
    gap: 13px;
    justify-content: end;
    align-content: center;
}
#menu a{
    text-decoration: none;
    color: #F0F66E;
    font-weight: 600;
    padding: 10px 12px;
    border-radius: 5px;
}

#menu a:hover{
    background-color: #F0F66E;
    color: #355364;
    transition: background-color 0.5s, color 0.5s;
}
main{
    display: grid;
    grid-template-columns: 0.1fr 2fr 0.1fr;
    grid-template-rows: 370px 370px 370px 370px 370px 370px;
}
#ficha{
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    background-color: #355364;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.116);
}
#ficha ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5px;
}
#ficha a{
    color: #F0F66E;
    border-radius: 40%;
}
#ficha a:hover{
    color: #2E5266;
    background-color: #F0F66E;
}
#ficha img{
    border-radius:100%;
    border: 2px solid #F0F66E;
    padding: 3px;
    justify-self: center;
    margin-top: 2px;
}
#apresentacao{
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    background-color: #355364;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.116);
    color: #ffffff;
    margin-top: 5px;
    padding: 10px;
}
#apresentacao iframe{
    justify-self: center;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.219);
}
#habilidades{
    grid-area: 3 / 2 / 4 / 3;
    background-color: #355364;
    display: grid;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.116);
    margin-top: 5px;
}
#skills{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-content: space-evenly;
}
.barra-div{
    background-color: #9fa39f;
    width: 62%;
    height: 12px;
    margin-top: 5px;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.progress{
    background-color: #F0F66E;
    width: 20%;
    border-radius: 50px;
    height: 12px;
    text-align: center;
    overflow: hidden;
}
.titulo{
    width: 20%;
}
.porcentagem{
    width: 8%;
}
#CSS{
    width: 80%;
}
#JavaScript{
    width: 20%;
}
#Python{
    width: 65%;
}













